* {
    box-sizing: border-box;
 
 }
 
 html, body {
     height: 100%;
     margin: 0;
 }
 
 body {
     background: url('../images/connectwork.png') repeat;
     font-family: Arial, Helvetica, sans-serif;
     color: #777777;
 
 }
 
 
 
 h1, h2, h3, h4, h5, h6 {
     font-family: Georgia, 'Times New Roman', Times, serif;
     color: #ebebeb;
     font-weight: bold;
     
 
 }

 
 /* navbar styling */
 /* navbar in portfolio, didnt style as expedctd */
 /* was unable to get proper placement of text or position within the navbar header */
 .navbar-default {
     width: 20ox;
     background: #777;
     height: 10%;
 }
 
 .navbar-inverse {
     background: #777;
     position: relative;
     border-bottom: 10px;
    
 }
 
 
 .navbar-header {
     font-weight: 700px;
     background: rgb(34, 30, 59);
     height: 80px;
     line-height: 80px;
     text-align: center;
 }
 
 
 .navbar ul li {
     display: inLine;
     margin-top: 20px;
     
 }
 
 .navbar ul li a {
     color: #333;
     font-size: 15px;
     padding: 5px 15px;
     border-right: 2px solid rgb(34, 30, 59);
     text-decoration: none;
     text-align: center;
 }
 
 .navbar ul li:last-child a {
     border-right: none;
     padding-right: none;
 }
 
 /* end of navbar */
 
 
 h2 {
     color: #777;
 }
 #main-container {
     
     height: auto;
     color: #777;
     padding-right: 100px;
     background: #ebebeb;
 }
 
 p {
     
     font-size: 16px;
     line-height: 20px;
     margin-bottom: 20px;
 }
 
 
 
 .inLine-img {
     float: left;
     margin: 0 15px 15px 0;
     border: 2px solid #777777
 
 }
 
 .clearfix {
     display: block;
     clear: both;
     margin-bottom: 130px;
 
 }
 
 
 
 
 footer {
     border-top: 2px solid white;
     background: grey;
     color: rgb(34, 30, 59);
     text-align: center;
     padding: 40px;
     margin-top: 500px;
     position: bottom;
     bottom: 0;
     width: 100%;
     
 
 }
 
 
 /* form formatting */
 form label {
     width: 100%;
     display: block;
 
 }
 
 form input{
     width: 100%;
     visibility: block;
     margin-bottom: 20px;
     border: 2px solid #ccc;
     padding: 4px;
     font-size: 16px;
     margin: 5px 0, 20px, 0;
 
 }
 
 textarea {
     height: 300px;
     width: 880px;
 
 }
 
 form button {
     background: rgb(34, 30, 59);
     color: white;
     padding: 10px, 20px;
     font-size: 18px;
 
 
 }
 
 
 /* portfolio page styling */
 /* was unable to create the container and place the items within giving a proper background  --> */
 
 .portfolio-item {
     position: relative;
     margin-bottom: 20px;
     width: 45%;
     float: left;
     padding: 124px 0 15px 0;
     height: 250px;
 
 
 }
 
 .portfolio-item h4 {
     background: rgb(34, 30, 59);
     color: white;
     text-align: center;
     padding: 15px 0;
     position: absolute;
     bottom: 5px;
     width: 100%;
 
 }
 
 .portfolio-item:nth-of-type(even) {
     float: right;
 
 
 }
 
 #port_1 {
     background: url('../images/port1.png');
     background-size: cover;
     background-repeat: no repeat;
 }
 
 #port_2 {
     background: url('../images/port4.png');
     background-size: cover;
     background-repeat: no repeat;
     
 }
 
 #port_3 {
     background: url('../images/port3.png');
     background-size: cover;
     background-repeat: no repeat;
 }
 
 #port_4 {
     background: url('../images/port2.png');
     background-size: cover;
     background-repeat: no repeat;
 }
 
 #port_5 {
     background: url('../images/port5.png');
     background-size: cover;
     background-repeat: no repeat;
 }